/**
 * Settings for EiEiEi - Cloud connected
 * Please rename this file to settings.h!
 * 
 * WIFI_*: Access to yout wifi network
 * PET_NAME: Name of your pet to be shown in event log
 */

#define WIFI_SSID "WifiName"
#define WIFI_PASS "SuperG3he1M"
#define WIFI_HOSTNAME "EiEiEi"
#define PET_NAME "Dino"
