name: Build EiEiEi with platformio 
on:
  push:
    branches: 
      - '*'
  pull_request:

jobs:

  install_platformio_and_build_eieiei:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2.2.1

    - name: Install pio and its dependencies
      run: |
        python -m pip install --upgrade pip
        pip install platformio
    - name: Create mock settings.h
      run: mv tamaguino/settings.h.example tamaguino/settings.h           
    - name: Run PlatformIO build on selected platforms
      run: platformio run 
      
    - name: Upload Artifact
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: firmware.bin
        path: .pio/build/eieiei_esp32dev/firmware.bin
        retention-days: 5
        
        
        
        
